body {
    /* background-image: url("net.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px); */
    height: 100vh;
}
.devis {
    width: 70%;
    margin: 0 auto;
    height: 65rem;
    /* height: 144vh; */
    background: url('facture.jpg') no-repeat center;
    background-size: cover;
    padding-top: 12.4rem;
    padding-inline: 5rem;
}
.info {
    position: relative;
    height: 15%;
}
.info p {
    font-size: 0.8vw;
    position: absolute;
    width: max-content;
}
.nom {
    left: 12%;
    top: 3%;
}
.adresse {
    left: 12%;
    top: 16%;
}
.pays {
    left: 12%;
    top: 43%;
}
.ville {
    left:43%;
    top: 43%;
}
.tel {
    left: 12%;
    top: 57%;
}
.date {
    left:85%;
    top: 3%;
}
.num {
    left:85%;
    top: 16%;
}
.details-container{
    height: 50%;
}
.details {
    display: flex;
    width: 98.5%;
    font-size: small;
    padding: 0;
}
.details p {
    width: 14%;
    text-align: center;
}
.details p:nth-child(2) {
    flex-grow: 1;
    text-align: left;
}
.qte{
    padding-right: 2%;
}
.titre {
    display: block;
    font-weight: bold;
}
.prix{
    width: 4%;
}


.buttom{
    position: relative;
    width: 100%;
    height: 18%;
}

.buttom p {
    font-size: small;
    position: absolute;
    text-align: center;
}

.sous-total{
    left: 84.5%;
    width: 14%;
}

.tva{
    left: 85%;
    width: 14%;
    top: 31%;
}

.ttc{
    left: 84.5%;
    width: 14%;
    top: 42%;
}

.modalité{
    top: 55%;
    width: 40%;
}









